.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    text-align: center;
  }

  h1 {
    display: block;
    margin-bottom: 1em;
  }
}
