<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12 po-text-center">
      <input accept="image/jpeg,image/png" #inputFile hidden type="file" (change)="fileChangeEvent($event)">
      <div class="po-field-container-title">
        <span class="po-field-title">Imagem</span>
      </div>
      <po-button p-label="Selecionar arquivo" (click)="selectImage()"></po-button>
    </div>

    <div
      *ngIf="imageChangedEvent"
      class="po-offset-md-3 po-offset-lg-3 po-offset-xl-3 po-xl-6 po-lg-6 po-md-6 po-sm-12">
      <div class="po-row" class="po-mt-3">
        <div class="po-sm-6">
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            maintainAspectRatio="true"
            [aspectRatio]="3 / 4"
            format="jpg"
            (imageCropped)="imageCropped($event)"
            resizeToWidth="100">
          </image-cropper>
        </div>
        <div class="po-sm-6">
          <img [src]="croppedImage" />
        </div>
      </div>
    </div>

    <div class="po-sm-12">
      <po-divider></po-divider>
    </div>
  </div>
  <div class="po-row">
    <div class="po-offset-md-3 po-offset-lg-4 po-offset-xl-4 po-xl-4 po-lg-4 po-md-6 po-sm-12">
      <po-combo
        appFornecedorCombo
        formControlName="fornecedorId"
        p-icon="po-icon-truck"
        p-label="Fornecedor">
      </po-combo>
      <po-input
        formControlName="nome"
        p-clean="true"
        p-label="Nome">
      </po-input>
      <po-textarea
        formControlName="descricao"
        p-label="Descrição">
      </po-textarea>
      <po-decimal
        formControlName="valor"
        p-label="Valor"
        p-icon="po-icon-finance-secure"
        p-decimals-length="2">
      </po-decimal>
      <po-switch
        formControlName="ativo"
        p-label-on="Sim"
        p-label-off="Não"
        p-label="Ativar produto">
      </po-switch>
    </div>
  </div>
</form>
