<form [formGroup]="form">
  <div class="po-row po-mt-5">
    <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">
      <po-divider [p-label]="isPF ? 'Dados pessoais' : 'Dados empresariais'"></po-divider>
      <po-radio-group
        formControlName="tipoFornecedor"
        p-label="Tipo"
        [p-disabled]="isEdit()"
        [p-options]="options"
        (p-change)="changeTipoFornecedor($event)">
      </po-radio-group>
      <po-input
        formControlName="nome"
        p-auto-focus="true"
        p-clean="true"
        p-error-pattern="Informe entre 2 e 100 caracteres"
        [p-label]="isPF ? 'Nome' : 'Razão social'">
      </po-input>
      <po-input
        formControlName="documento"
        p-clean="true"
        [p-disabled]="isEdit()"
        [p-error-pattern]="isPF ? 'Informe um CPF válido' : 'Informe um CNPJ válido'"
        [p-mask]="isPF ? '999.999.999-99' : '99.999.999/9999-99'"
        [p-label]="isPF ? 'CPF' : 'CNPJ'">
      </po-input>
      <po-switch
        formControlName="ativo"
        p-label-on="Sim"
        p-label-off="Não"
        p-label="Ativar fornecedor">
      </po-switch>
    </div>
  </div>

  <div class="po-row po-mt-5">
    <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">
      <po-divider p-label="Dados de endereço"></po-divider>

      <ng-container *ngIf="isEdit()">
        <po-button
          class="ver-no-mapa"
          p-label="Ver no mapa"
          p-small="true"
          p-type="link"
          p-icon="po-icon-map"
          (p-click)="verMapa()">
        </po-button>
      </ng-container>

      <po-modal #modalMapa p-title="Mapa">
        <iframe
          *ngIf="isEdit()"
          width="100%"
          height="450"
          frameborder="0"
          style="border:0"
          allowfullscreen
          [src]="domSanitizer.bypassSecurityTrustResourceUrl(linkGoogleMaps)">
        </iframe>
      </po-modal>

      <div formGroupName="endereco">
        <po-input
          formControlName="cep"
          p-clean="true"
          p-error-pattern="Informe CEP válido"
          p-label="CEP"
          p-mask="99.999-999"
          (p-change)="changeCep($event)">
        </po-input>
        <po-input
          formControlName="logradouro"
          p-clean="true"
          p-error-pattern="Informe entre 2 e 200 caracteres"
          p-label="Logradouro">
        </po-input>
        <po-input
          formControlName="numero"
          p-clean="true"
          p-error-pattern="Informe entre 1 e 50 caracteres"
          p-label="Número">
        </po-input>
        <po-input
          formControlName="complemento"
          p-clean="true"
          p-label="Complemento">
        </po-input>
        <po-input
          formControlName="bairro"
          p-clean="true"
          p-error-pattern="Informe entre 2 e 100 caracteres"
          p-label="Bairro">
        </po-input>
        <po-select
          formControlName="estado"
          p-label="Estado"
          [p-options]="estados">
        </po-select>
        <po-select
          formControlName="cidade"
          [p-disabled]="cidades.length <= 0"
          p-label="Cidade"
          [p-options]="cidades">
        </po-select>
      </div>
    </div>
  </div>
</form>
