<po-page-default
  [p-title]="pageTitle"
  [p-breadcrumb]="breadcrumb"
  [p-actions]="actions">

  <form [formGroup]="form">
    <po-tabs>
      <po-tab p-label="Dados pessoais" p-active="true">
        <div class="po-row po-mt-5">
          <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">

              <po-radio-group
                formControlName="tipoFornecedor"
                name="tipoFornecedor"
                p-label="Tipo"
                [p-options]="[{ label: 'Pessoa física', value: '1' }, { label: 'Pessoa jurídica', value: '2' }]"
                (p-change)="changeTipoFornecedor($event)">
              </po-radio-group>
              <po-input
                formControlName="nome"
                name="nome"
                p-auto-focus="true"
                p-clean="true"
                p-error-pattern="Informe entre 2 e 100 caracteres"
                [p-label]="isPF ? 'Nome' : 'Razão social'"
                p-maxlength="100"
                p-minlength="2"
                p-required="true">
              </po-input>
              <po-input
                formControlName="documento"
                name="documento"
                p-clean="true"
                [p-error-pattern]="isPF ? 'Informe um CPF válido' : 'Informe um CNPJ válido'"
                [p-mask]="isPF ? '999.999.999-99' : '99.999.999/9999-99'"
                [p-label]="isPF ? 'CPF' : 'CNPJ'"
                p-required="true"
                cpf>
              </po-input>
              <po-switch
                formControlName="ativo"
                name="ativo"
                p-label-on="Sim"
                p-label-off="Não"
                p-label="Ativar fornecedor">
              </po-switch>

          </div>
        </div>
      </po-tab>

      <po-tab p-label="Dados endereço">
        <div class="po-row po-mt-5">
          <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">

            <div formGroupName="endereco">
              <po-input
                formControlName="cep"
                name="cep"
                p-clean="true"
                p-error-pattern="Informe CEP válido"
                p-label="CEP"
                p-maxlength="8"
                p-minlength="8"
                p-required="true"
                (p-change)="changeCep($event)">
              </po-input>
              <po-input
                formControlName="logradouro"
                name="logradouro"
                p-clean="true"
                p-error-pattern="Informe entre 2 e 200 caracteres"
                p-label="Logradouro"
                p-maxlength="200"
                p-minlength="2"
                p-required="true">
              </po-input>
              <po-input
                formControlName="numero"
                name="numero"
                p-clean="true"
                p-error-pattern="Informe entre 1 e 50 caracteres"
                p-label="Número"
                p-maxlength="50"
                p-minlength="1"
                p-required="true">
              </po-input>
              <po-input
                formControlName="complemento"
                name="complemento"
                p-clean="true"
                p-label="Complemento">
              </po-input>
              <po-input
                formControlName="bairro"
                name="bairro"
                p-clean="true"
                p-error-pattern="Informe entre 2 e 100 caracteres"
                p-label="Bairro"
                p-maxlength="100"
                p-minlength="2"
                p-required="true">
              </po-input>
              <po-select
                formControlName="estado"
                name="estado"
                p-label="Estado"
                p-required="true"
                [p-options]="estados">
              </po-select>
              <po-select
                formControlName="cidade"
                [p-disabled]="cidades.length <= 0"
                name="string"
                p-label="Cidade"
                [p-options]="cidades"
                p-required="true">
              </po-select>
            </div>

          </div>
        </div>
      </po-tab>
    </po-tabs>
  </form>

</po-page-default>
