<po-page-default
  [p-title]="pageTitle"
  [p-breadcrumb]="breadcrumb">

  <div class="po-row">
    <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">

      <div class="po-sm-12 po-md-8 po-lg-8 po-xl-8 po-offset-md-2 po-offset-lg-2 po-offset-xl-2">
        <img class="w-100" src="./assets/login.png">
      </div>

      <form [formGroup]="form">
        <po-email
          formControlName="email"
          name="email"
          p-auto-focus="true"
          p-clean="true"
          p-error-pattern="Informe um e-mail válido"
          p-icon="po-icon-mail"
          p-label="E-mail"
          p-required="true">
        </po-email>

        <po-password
          formControlName="password"
          name="password"
          p-clean="true"
          p-icon="po-icon-lock"
          p-label="Senha"
          p-required="true">
        </po-password>
      </form>

      <po-button
        class="po-sm-12 po-mt-2 po-p-0"
        (p-click)="onSubmit()"
        [p-disabled]="!form.valid"
        p-label="Entrar"
        p-type="primary">
      </po-button>

    </div>
  </div>

</po-page-default>
