<po-page-default
  [p-title]="pageTitle"
  [p-breadcrumb]="breadcrumb">

  <div class="po-row">
    <div class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-offset-md-3 po-offset-lg-4 po-offset-xl-4">

      <div class="po-sm-12 po-md-8 po-lg-8 po-xl-8 po-offset-md-2 po-offset-lg-2 po-offset-xl-2">
        <img class="w-100" src="./assets/nova-conta.png">
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <po-email
          formControlName="email"
          name="email"
          p-auto-focus="true"
          p-clean="true"
          p-error-pattern="Informe um e-mail válido"
          p-icon="po-icon-mail"
          p-label="E-mail"
          p-maxlength="100"
          p-minlength="6"
          p-required="true">
        </po-email>

        <po-password
          formControlName="password"
          name="password"
          p-clean="true"
          p-icon="po-icon-lock"
          p-label="Senha"
          p-maxlength="100"
          p-minlength="6"
          p-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
          p-error-pattern="Deve conter ao menos um caracter especial, uma letra minúscula e maiúscula, um número, e também conter entre 6 e 100 caracteres."
          p-required="true">
        </po-password>

        <po-password
          formControlName="confirmPassword"
          name="confirmPassword"
          p-clean="true"
          p-icon="po-icon-lock"
          p-label="Confirme a senha"
          p-required="true"
          [p-disabled]="!passwordValid">
        </po-password>

        <button hidden type="submit"></button>
        <po-button
          class="po-sm-12 po-mt-2 po-p-0"
          (p-click)="onSubmit()"
          p-label="Enviar"
          p-type="primary">
        </po-button>
      </form>

    </div>
  </div>

</po-page-default>
